@import "libs/bootstrap-reboot.min";

* {
  font-family: "Stolzl", sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Regular.woff2") format("woff2"),
    url("../fonts/Stolzl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl";
  src: url("../fonts/Stolzl-Medium.woff2") format("woff2"),
    url("../fonts/Stolzl-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Stolzl", sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1320px;
}

.hamburger{
  display: none;
}

@import './header';
@import './catalog';
@import './media';
@import './mobile__menu';